.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* 3 columns */
    grid-gap: 2px;
    column-gap: 6px;
    justify-content: center;
}

#msg{
    font-size: 50px;
    height: 30px;
}
.msg-container{
    margin-top: 350px;
    margin-bottom: 600px;
    height: 100px;
}
.hide{
    display: none;
}
.box {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease;
}
.box:hover{
    background-color: #4da6ff;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
#reset{
    margin-top: 50px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 20px;
}
#newgame{
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 20px;
}
body{
    text-align: center;
}